<div *ngIf="meal; else workoutItem" class="list-item">
  <a [routerLink]="meal | getMealRoute">
    <p class="list-item__name">{{ meal.name }}</p>
    <p class="list-item__ingredients">
      <span>
        {{ meal.ingredients }}
      </span>
    </p>
  </a>
  <fit-panel-remove (remove)="deleteMeal()"></fit-panel-remove>
</div>

<ng-template #workoutItem>
  <div *ngIf="workout" class="list-item">
    <a [routerLink]="workout | getWorkoutRoute">
      <p class="list-item__name">{{ workout.name }}</p>
      <p class="list-item__ingredients">
      <span>
        {{ workout | workoutInfo}}
      </span>
      </p>
    </a>
    <fit-panel-remove (remove)="deleteWorkout()"></fit-panel-remove>
  </div>
</ng-template>
